.main {
	color: rgb(16, 0, 31);
	font-size: 3rem;
	text-shadow: 2px 2px 12px rgb(8, 41, 83);
}
.header {
	position: absolute;
	top: 45%;
	left: 30%;
}
.header h3 {
	background-color: rgb(106, 225, 255);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.header h5 {
	color: rgb(146, 175, 182);
}
@media (max-width: 1024px) {
	.main {
		font-size: 2rem;
	}
	.header {
		position: absolute;
		top: 25%;
		left: 25%;
	}
}
@media (max-width: 768px) {
	.main {
		font-size: 1.5rem;
	}
	.header {
		position: absolute;
		top: 15%;
		left: 20%;
	}
}
