.main {
	color: rgb(16, 0, 31);
	font-size: 3rem;
	text-shadow: 2px 2px 12px rgb(8, 41, 83);
}
.header {
	position: absolute;
	top: 45%;
	left: 30%;
}

@media (max-width: 1024px) {
	.main {
		font-size: 2rem;
	}
	.header {
		position: absolute;
		top: 25%;
		left: 25%;
	}
}
@media (max-width: 768px) {
	.main {
		font-size: 1.5rem;
	}
	.header {
		position: absolute;
		top: 15%;
		left: 20%;
	}
}
